body {
  background-color: green;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

a {
  font-family: 'Courier New', Courier, monospace;
  color: lightgray;
}

a:visited {
  color: darkgray;
}